.hero {
  position: relative;
  padding-top: 80px;
}

.hero::before {
  bottom: 106px;
  /* На всю ширину страницы */
  width: 100%;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.hero h1 {
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.hero h1 strong {
  font-weight: 600;
  color: #3596ed;
}

.hero-info {
  max-width: 492px;
}

.hero-info .text {
  /* Правильный перенос слов */
  max-width: 440px;
  margin-bottom: 140px;
}

.hero-images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-choose {
  position: absolute;
  /* расположение */
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 161px;
  padding: 22px;
  background: rgb(255 255 255 / 0.9);
  border: 1px solid #535755;
  text-align: center;
}

.news-article {
  /* Чтобы кнопка подробнее всегда была на одном уровне с другими карточками */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 284px;
  /* Для адаптации, что бы карточки сжимались все  */
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  background-color: #fff;
  border: 1px solid #d3cbd9;
  /* Изображение не выходит за пределы контейнера */
  overflow: hidden;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.news-article img {
  display: block;
}

.news-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}

.news-date {
  display: inline-block;
  margin-bottom: 8px;
}

.news-article footer {
  padding: 0 20px 20px;
  /* Чтобы кнопка подробнее всегда была на одном уровне с другими карточками */
  margin-top: auto;
}

.news-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
}

.news-link::after {
  display: inline-block;
  /* Обязательно */
  content: "";
  width: 22px;
  height: 9px;
  background-image: url("../images/arrow-right-icon.svg");
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition:
    transform 0.2s,
    -webkit-transform 0.2s;
}

.news-link:hover::after {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.faq {
  position: relative;
}

.faq::before {
  top: 215px;
}

.faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 28px;
}

details {
  margin-bottom: 20px;
  /* Бордер сразу снизу и сверху  */
  border-block: 1px solid #d3cbd9;
}

details:last-child {
  margin-bottom: 0;
}

/* Чтобы стрелка переворачивалась при открытии */
details[open] summary::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Скрываем иконку-маркер в summary (может не работать в некоторый браузерах) */
summary {
  /* Чтобы стрелки раскидать по бокам  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  padding: 20px;
  cursor: pointer;
}

/* Добавляем стрелку */
summary::after {
  content: "";
  display: inline-block;
  /* Чтобы не обрезалась */
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 17px;
  height: 22px;
  background: url("../images/arrow-down-icon.svg") no-repeat center / cover;
}

/* Добавляем - работает везде */
summary::-webkit-details-marker {
  display: none;
}

/* Паддинги для текста, что бы текст не вылазил */
/* > Обращаем к прямым дочерним элементам */
details > p {
  padding: 0 20px 20px;
}

/* ___________________________________________________________________________ */
/* Адаптаця hero */
/* Популярные размеры экрана  использовать лучше
1200px
1024px (промежуточный)
992px
768px (планшеты)
576px (телефоны)
375px 

320px (самый маленький размер телефона)
*/
@media (width <= 1440px) {
  .hero-images img {
    width: 50%;
  }
}

@media (width <= 992px) {
  /* Отключаем декорацию */
  .hero::after {
    display: none;
  }

  /* Фото будут перемещаться вниз, а также центрируем заголовок*/
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* Центрируем заголовок  */
  .hero-info {
    text-align: center;
  }

  /* Уменьшаем размер заголовка  */
  .hero h1 {
    margin-bottom: 30px;
    font-size: 52px;
  }

  /* Центрируем заголовок текст под заголовком */
  .hero-info .text {
    max-width: initial;
    margin-bottom: 30px;
  }

  /* ___________________________________________________________________________ */
  /* Адаптаця news */
  /* Перенос карточек  */
  .news-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
  }

  /* Меняем ширину карточки */
  .news-article {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 350px;
  }
  /* Изображение растянется на всю ширину карточки  */
  .news-article img {
    width: 100%;
  }

  /* ___________________________________________________________________________ */
  /* Адаптаця FAQ */
  /* Убираем дикорацию */
  .faq::before {
    display: none;
  }

  /* Изображение будет с низу, а текст сверху */
  .faq-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (width <= 768px) {
  /* Уменьшаем размер заголовка  */
  .hero h1 {
    font-size: 50px;
  }

  /* ___________________________________________________________________________ */
  /* Адаптаця news */
  /* Меняем ширину карточки */
  .news-article {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 400px;
  }
}

@media (width <= 576px) {
  /* Уменьшаем отступ сверху */
  .hero {
    padding-top: 60px;
  }

  /* Уменьшаем ширину для заголовка */
  .hero-info {
    max-width: 410px;
  }

  /* Уменьшаем размер заголовка  */
  .hero h1 {
    font-size: 42px;
  }

  /* Уменьшаем все в элементе выбери своего тренера */
  .hero-choose {
    max-width: 125px;
    padding: 10px;
    font-size: 14px;
  }
}
