.page {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--secondary-color);
  /* когда переходим по якорю будет плавная прокрутка */
  scroll-behavior: smooth;
  /* текст не будет скрываться за шапкой при скролле по якорю */
  scroll-padding-top: 98px;
  /* плавающий скролл */
  scrollbar-gutter: stable;
}

.page__body {
  /* для адаптива */
  min-width: 375px;
  background-color: var(--main-color);
}

/* чтобы при открытом меню страница не прокручивалась */
.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

/* фокус браузера */
a:focus-visible,
button:focus-visible,
input:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

/* _____________________________________________________________________________________________________________________________________ */

.text-regular {
  font-weight: 400;
}

.title-xxl,
.title-xl,
.title-ld,
.title-lm ,
.title-md,
.title-sm,
.title-xs,
.title-xxs {
  font-weight: 400;
  color: var(--secondary-color);
}

.title-xxl {
  /* чтобы при адаптиве текст h становилась меньше */
  /* min-width 992px, max-width 1440px */
  font-size: clamp(40px, 0.009rem + 4.02vw, 58px);
}

@media (width <=992px) {
  .title-xxl {
    font-size: clamp(28px, 1.294rem + 1.94vw, 40px);
  }
}



.title-xl {
  /* чтобы при адаптиве текст h2 становилась меньше */
  /* min-width 375px, max-width 1220px */
  font-size: clamp(22px, 0.82rem + 2.37vw, 42px);
}

.title-ld {
  /* чтобы при адаптиве текст h3 становилась меньше */
  /* min-width 375px, max-width 922px */
  font-size: 32px;
}

.title-lm {
  /* чтобы при адаптиве текст h4 становилась меньше */
  /* min-width 375px, max-width 922px */
  font-size: 28px;
}

.title-md {
  font-size: clamp(14px, 0.799rem + 0.32vw, 16px);
}

.title-sm {
  font-size: 15px;
}

.title-xs {
  font-size: 14px;
}

.title-xxs {
  font-size: 13px;
}

/* @media (width > 576px) {
  .section {
    padding-bottom: 140px;
  }

  .section-title {
    margin-bottom: 40px;
  }
}

@media (width <= 576px) {
  .section {
    padding-bottom: 80px;
  }

  .section-title {
    margin-bottom: 30px;
  }
} */

/* .accent {
  color: var(--accent-color);
} */
