.header {
  /* fixed cap when scrolling */
  position: fixed;
  /* up */
  top: 0;
  right: 0;
  left: 0;

  padding-top: 40px;
  padding-bottom: 24px;

  /* background */
  background-color: var(--bg-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 120px;
}

.header__menu {
  /* чтобы растянуть меню на доступное пространство  */
  flex-grow: 1;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__order {
  /* позиционируем элемент, чтобы всегда был прикреплен к ссылке */
  position: relative;

  padding-bottom: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

@media (any-hover: hover) {
  /* анимация для кнопки заказать */
.header__order:hover::before {
  opacity: 1;
  visibility: visible;
}
}

/* свечение для кнопки заказа */
.header__order::before {
  content: "";
  /* позиционируем элемент, чтобы всегда был прикреплен к ссылке */
  position: absolute;
  /* размеры которые будут подходить под адаптив  */
  top: 50%;
  left: 50%;
  display: block;
  width: 90%;
  min-height: 11px;
  /* центрируем свечение  */
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
  border-radius: 50%;
  /* свойство которое позволяет задать размытие */
  filter: blur(30px);
  /* для того чтобы изначально скрыть анимацию */
  opacity: 0;
  visibility: hidden;
  /* для появления анимации */
  transition:
    opacity var(--transition-time),
    visibility var(--transition-time);
}

.header__actions {
  display: flex;
  gap: 20px;
}

.header__actions-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--main-color);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .header__actions-button:hover {
    color: var(--accent-color);
  }
}