.header {
  /* fixed cap when scrolling */
  position: fixed;
  /* up */
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--layer-2);

  padding-block: 32px;
  margin-bottom: 120px;

  /* background */
  background-color: var(--choice-glow-color);

  /* shadow */
  transition: box-shadow var(--transition-time);
  transition:
    box-shadow var(--transition-time);
  background: var(--main-color);
  
}

.header--fixed {
  /* чтобы тень была только при скроле */
  box-shadow: 0 0 20px var(--shadow-color);
  /* при прокрутки страницы тени не будет */
  overflow-y: hidden;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width > 768px) {
  .header__logo {
    /* min-width 992px, max-width 1440px */
    margin-right: clamp(44px, -30.603rem + 53.79vw, 285px);
  }

  .header__menu {
    /* чтобы растянуть меню на доступное пространство  */
    flex-grow: 1;
  }
}

@media (width <= 768px) {
  .header__menu {
    /* чтобы менюшку можно было открыть при прокрутке  */
    position: fixed;
    /* чтобы всегда была с вверху */
    top: 0;
    /* чтобы сделать анимацию менюшки */
    right: -100vw;
    /* чтоб она была на всю высоту видимой части страницы */
    bottom: 0;
    z-index: var(--layer-2);
    min-width: 297px;
    padding: 144px 15px 20px 0;
    background-color: var(--main-color);
    box-shadow: -2px 0 20px var(--shadow-color);
    /* чтобы можно было прокручивать */
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition:
      right var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);
  }

    /* когда открываем меню */
  .header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__menu .menu__list {
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }
}

.header__controls {
  display: flex;
  gap: 13px;
}

@media (width > 768px) {
  /* Иконки  */
  .header__controls {
    gap: 13px;
  }
}

@media (width <= 768px) {
  /* Иконки  */
  .header__controls {
    gap: 30px;
    padding-left: 30px;
  }
}

.header__controls-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--secondary-color);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .header__controls-button:hover {
    color: var(--accent-color);
  }

  .header__controls-button:active {
    color: var(--accent-color);
  }

  .header__controls-icon {
    stroke: currentColor;
  }
}
